<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    <h1>Welcome to relative URL Templates</h1>
    <p><a href="{% url 'basic_app:other' %}">Link to the other page</a></p>
    <p><a href="{% url 'admin:index' %}">admin page</a></p>
    <p><a href="{% url 'index' %}">Link to index</a></p>
    
    
    
</body>
</html>